dify_workflows/TeachMate.yml
app:
  description: An intelligent assistant designed to streamline the assessment creation
    process for educators and students. By analyzing uploaded course materials (PDFs,
    PPTs, Lecture Notes), the system automatically generates high-quality quizzes
    and exams tailored to specific user requirements.
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: TeachMate
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .pdf
      - .PDF
      - .docx
      - .DOCX
      - .doc
      - .DOC
      - .pptx
      - .PPTX
      - .ppt
      - .PPT
      - .txt
      - .TXT
      - .md
      - .MD
      - .rtf
      - .RTF
      - .jpg
      - .JPG
      - .jpeg
      - .JPEG
      - .png
      - .PNG
      - .gif
      - .GIF
      - .webp
      - .WEBP
      - .bmp
      - .BMP
      - .xlsx
      - .XLSX
      - .xls
      - .XLS
      - .csv
      - .CSV
      allowed_file_types:
      - document
      - image
      - custom
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: true
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 10
    opening_statement: '👋 Welcome to **TeachMate** - Your AI Assessment Creation Assistant


      📚 **What you can upload:**

      • Lecture slides (PPT/PPTX/PDF)

      • Textbooks & course materials (PDF/Word/Text)

      • Study notes & summaries (TXT/MD/DOC)

      • Photos of handwritten notes or textbooks

      • Excel/CSV files with data or tables


      💡 **Tips for best results:**

      ✓ Upload multiple files at once (up to 15 files)

      ✓ Ensure files are clear and well-structured

      ✓ For images, make sure text is readable

      ✓ PDFs with selectable text work better than scanned images

      ✓ Combine related materials (lecture + textbook + notes) for comprehensive questions


      🎯 **Ready to create assessments?** Upload your materials and fill in the details
      below!

      '
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - 📄 I have lecture slides on Macroeconomics, create 10 multiple choice questions
    - 🎮 Create a Kahoot game with 15 questions about Marketing Mix from these materials
    - 📝 Generate a NEU LMS exam on SWOT Analysis, medium difficulty
    - 🎓 Make a Quizlet study set with 20 flashcards from my uploaded notes
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1768668505405-true-llm-target
      source: '1768668505405'
      sourceHandle: 'true'
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1768668505405-false-1768668711518-target
      source: '1768668505405'
      sourceHandle: 'false'
      target: '1768668711518'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1768668711518-false-1768668758712-target
      source: '1768668711518'
      sourceHandle: 'false'
      target: '1768668758712'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1768668758712-true-17686688529110-target
      source: '1768668758712'
      sourceHandle: 'true'
      target: '17686688529110'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1768668758712-false-17686688518030-target
      source: '1768668758712'
      sourceHandle: 'false'
      target: '17686688518030'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17686688502530-source-17686700462850-target
      source: '17686688502530'
      sourceHandle: source
      target: '17686700462850'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17686688529110-source-17686700474170-target
      source: '17686688529110'
      sourceHandle: source
      target: '17686700474170'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17686688518030-source-17686700481850-target
      source: '17686688518030'
      sourceHandle: source
      target: '17686700481850'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1768668711518-true-17686688502530-target
      source: '1768668711518'
      sourceHandle: 'true'
      target: '17686688502530'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: document-extractor
      id: 1768148176291--1768841210667-target
      source: '1768148176291'
      sourceHandle: source
      target: '1768841210667'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: document-extractor
        targetType: if-else
      id: 1768841210667-source-1768668505405-target
      source: '1768841210667'
      sourceHandle: source
      target: '1768668505405'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: Enhanced input system optimized for chat-based interaction with superior
          file handling
        selected: false
        title: Enhanced User Input
        type: start
        variables:
        - hint: '• Kahoot/Wayground: Interactive games, engaging

            • Quizlet: Personal study, flashcards

            • NEU LMS: Formal exams, academic standard'
          label: 🎯 Output Platform
          max_length: 48
          options:
          - Kahoot
          - Quizlet
          - Wayground
          - NEU LMS
          placeholder: Select your target platform
          required: true
          type: select
          variable: platform
        - hint: '• Easy: Basic concepts, definitions

            • Medium: Explanations and examples

            • Hard: Case analysis and problem-solving

            • Mixed: Realistic exam distribution (30% easy, 40% medium, 30% hard)'
          label: ⚡ Difficulty Level
          max_length: 48
          options:
          - Easy (Remember & Understand)
          - Medium (Understand & Apply)
          - Hard (Analyze & Evaluate)
          - Mixed (Balanced distribution)
          placeholder: Select difficulty
          required: true
          type: select
          variable: difficulty_level
        - hint: 'Default: Comprehensive. Other options help focus on specific aspects
            of your materials.'
          label: 🎯 Content Processing Strategy
          max_length: 48
          options:
          - Comprehensive (scan all materials)
          - Key concepts only (main ideas)
          - Examples and case studies focus
          - Formulas and calculations focus
          - Definitions and terminology focus
          placeholder: How to process your files
          required: false
          type: select
          variable: content_strategy
        - hint: 'Default: Same as source material. Override if you need questions
            in a specific language.'
          label: 🌐 Question Language
          max_length: 30
          options:
          - Vietnamese
          - English
          - Same as source material
          placeholder: Select output language
          required: false
          type: select
          variable: output_language
        - hint: Explanations help students learn from mistakes. Recommended for study
            materials.
          label: 💡 Include Answer Explanations
          max_length: 48
          options:
          - Yes - Detailed explanations
          - Yes - Brief explanations
          - No - Answers only
          placeholder: Explanation preference
          required: false
          type: select
          variable: include_explanations
        - allowed_file_extensions: []
          allowed_file_types:
          - image
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          hint: Upload lecture slides, textbooks, notes, or images. Supports PDF,
            PPT, Word, images, Excel. Up to 15 files, 100MB each.
          label: 📚 Upload Course Materials
          max_length: 10
          required: true
          type: file-list
          variable: uploaded_files
      height: 298
      id: '1768148176291'
      position:
        x: -437.7753697061748
        y: -41.84813394856437
      positionAbsolute:
        x: -437.7753697061748
        y: -41.84813394856437
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_array_file: true
        selected: false
        title: Smart Document Extractor
        type: document-extractor
        variable_selector:
        - '1768148176291'
        - uploaded_files
      height: 103
      id: '1768841210667'
      position:
        x: 77.4575303610846
        y: -51.267189461274995
      positionAbsolute:
        x: 77.4575303610846
        y: -51.267189461274995
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: '1737615856695'
            value: Kahoot
            variable_selector:
            - '1768148176291'
            - platform
          logical_operator: and
        desc: Route to Kahoot generator
        selected: false
        title: Is Kahoot?
        type: if-else
      height: 151
      id: '1768668505405'
      position:
        x: 406.27556532741767
        y: -56.72440178883981
      positionAbsolute:
        x: 406.27556532741767
        y: -56.72440178883981
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: '1737615856695'
            value: Quizlet
            variable_selector:
            - '1768148176291'
            - platform
          logical_operator: and
        desc: Route to Quizlet generator
        selected: false
        title: Is Quizlet?
        type: if-else
      height: 151
      id: '1768668711518'
      position:
        x: 725.1890967223904
        y: 200.13298738398933
      positionAbsolute:
        x: 725.1890967223904
        y: 200.13298738398933
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: '1737615856695'
            value: Wayground
            variable_selector:
            - '1768148176291'
            - platform
          logical_operator: and
        desc: Route to Wayground or NEU LMS generator
        selected: false
        title: Is Wayground?
        type: if-else
      height: 167
      id: '1768668758712'
      position:
        x: 1028.3891084086802
        y: 436.85557035027966
      positionAbsolute:
        x: 1028.3891084086802
        y: 436.85557035027966
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '1768841210667'
          - text
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: cf3aa79e-81dd-4401-a88b-da8ee75c-c27f
          role: system
          text: "# ROLE & PERSONA\nYou are an Expert Educational Game Designer specializing\
            \ in Kahoot interactive quizzes.\nYour goal: Create engaging, well-balanced\
            \ questions that work perfectly in a live game environment.\n\n# USER\
            \ INPUT FROM CHAT\nThe user will provide their requirements through chat.\
            \ Extract:\n- Topic/subject area\n- Number of questions (default to 10\
            \ if not specified)\n- Difficulty level (from form: {{#1768148176291.difficulty_level#}})\n\
            - Any special instructions from their message\n\n# KAHOOT-SPECIFIC REQUIREMENTS\n\
            1. **Question Structure**:\n   - Keep questions SHORT and PUNCHY (max\
            \ 120 characters for readability on mobile)\n   - 4 answer choices (Kahoot\
            \ standard)\n   - Only 1 correct answer\n   - Make distractors believable\
            \ but clearly wrong\n\n2. **Gamification Elements**:\n   - Point values:\
            \ Easy=1000, Medium=1500, Hard=2000\n   - Add time pressure consideration\
            \ (20-30 seconds per question)\n   - Questions should be answerable quickly\
            \ but require thinking\n\n3. **Difficulty Distribution**:\n   - Easy:\
            \ 30% - Recall facts, basic concepts\n   - Medium: 40% - Apply knowledge,\
            \ connect ideas  \n   - Hard: 30% - Analyze situations, higher-order thinking\n\
            \n# FORM SETTINGS\n- Difficulty level: {{#1768148176291.difficulty_level#}}\n\
            - Content strategy: {{#1768148176291.content_strategy#}}\n- Output language:\
            \ {{#1768148176291.output_language#}}\n- Include explanations: {{#1768148176291.include_explanations#}}\n\
            \n# FEW-SHOT EXAMPLES\n\n## Example 1: Easy Level (Recall)\nInput: \"\
            GDP stands for Gross Domestic Product, measuring total economic output.\"\
            \nOutput:\n{\n  \"type\": \"Quiz\",\n  \"difficulty\": \"Easy\",\n  \"\
            points\": 1000,\n  \"question\": \"What does GDP stand for?\",\n  \"options\"\
            : [\"Gross Domestic Product\", \"General Development Plan\", \"Global\
            \ Distribution Process\", \"Government Debt Payment\"],\n  \"correct_answer\"\
            : \"Gross Domestic Product\",\n  \"hint\": \"It measures a country's total\
            \ economic output\",\n  \"explanation\": \"GDP = Gross Domestic Product,\
            \ the standard measure of economic activity\"\n}\n\n## Example 2: Medium\
            \ Level (Application)\nInput: \"Supply curve slopes upward - as price\
            \ increases, quantity supplied increases.\"\nOutput:\n{\n  \"type\": \"\
            Quiz\",\n  \"difficulty\": \"Medium\",\n  \"points\": 1500,\n  \"question\"\
            : \"When iPhone price rises from $800 to $1000, what happens to quantity\
            \ supplied?\",\n  \"options\": [\"Increases\", \"Decreases\", \"Stays\
            \ the same\", \"Becomes zero\"],\n  \"correct_answer\": \"Increases\"\
            ,\n  \"hint\": \"Think about the law of supply\",\n  \"explanation\":\
            \ \"Higher prices incentivize producers to supply more (upward sloping\
            \ supply curve)\"\n}\n\n# OUTPUT FORMAT (JSON ONLY)\n{\n  \"platform\"\
            : \"Kahoot\",\n  \"items\": [\n    {\n      \"type\": \"Quiz\",\n    \
            \  \"difficulty\": \"Easy|Medium|Hard\",\n      \"points\": 1000|1500|2000,\n\
            \      \"question\": \"...\",\n      \"options\": [\"...\", \"...\", \"\
            ...\", \"...\"],\n      \"correct_answer\": \"...\",\n      \"hint\":\
            \ \"...\",\n      \"explanation\": \"...\"\n    }\n  ]\n}\n"
        - id: 9d162977-1055-4758-ad18-e82682fbb884
          role: user
          text: "# INPUT DATA\n**Context Material**: \n{{#1768841210667.text#}}\n\n\
            **User's Request**: \n{{#sys.query#}}\n\n# TASK\nCreate Kahoot questions\
            \ based on the user's chat request. Extract the topic, quantity, and any\
            \ special requirements from their message.\n"
        selected: false
        title: LLM Kahoot
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm
      position:
        x: 807.964466452708
        y: -124.53917510002546
      positionAbsolute:
        x: 807.964466452708
        y: -124.53917510002546
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '1768841210667'
          - text
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: cf3aa79e-81dd-4401-a88b-da8ee75c0c27f
          role: system
          text: "# ROLE & PERSONA\nYou are a Learning Science Expert specializing\
            \ in Quizlet flashcard creation.\nYour goal: Create study-optimized flashcards\
            \ perfect for spaced repetition and active recall.\n\n# USER INPUT FROM\
            \ CHAT\nThe user will provide their requirements through chat. Extract:\n\
            - Topic/subject area\n- Number of flashcards (default to 10 if not specified)\n\
            - Any special focus areas from their message\n\n# QUIZLET-SPECIFIC REQUIREMENTS\n\
            1. **Flashcard Structure**:\n   - FRONT: Clear, concise question or term\
            \ (one concept per card)\n   - BACK: Comprehensive answer with context\n\
            \   - Avoid \"all of the above\" or multi-part questions\n\n2. **Learning\
            \ Optimization**:\n   - Each card tests ONE atomic concept\n   - Answers\
            \ should be memorable, not just correct\n   - Include mnemonics or memory\
            \ aids when helpful\n   - Use active voice and concrete language\n\n3.\
            \ **Difficulty Distribution**:\n   - Easy: 30% - Basic definitions, simple\
            \ facts\n   - Medium: 50% - Explanations, relationships, examples\n  \
            \ - Hard: 20% - Complex concepts, synthesis\n\n# FORM SETTINGS\n- Difficulty\
            \ level: {{#1768148176291.difficulty_level#}}\n- Content strategy: {{#1768148176291.content_strategy#}}\n\
            - Output language: {{#1768148176291.output_language#}}\n- Include explanations:\
            \ {{#1768148176291.include_explanations#}}\n\n# FEW-SHOT EXAMPLES\n\n\
            ## Example 1: Definition Card\n{\n  \"front\": \"What is opportunity cost?\"\
            ,\n  \"back\": \"The value of the next best alternative that must be given\
            \ up when making a choice. Example: If you spend $10 on lunch, the opportunity\
            \ cost is whatever else you could have bought with that $10.\",\n  \"\
            difficulty\": \"Easy\",\n  \"tags\": [\"Economics\", \"Basic Concepts\"\
            , \"Chapter 1\"]\n}\n\n## Example 2: Application Card\n{\n  \"front\"\
            : \"Why does the demand curve slope downward?\",\n  \"back\": \"As price\
            \ decreases, quantity demanded increases due to: (1) Substitution effect\
            \ - cheaper relative to alternatives, (2) Income effect - consumers feel\
            \ richer and can buy more. Example: When coffee prices drop, people buy\
            \ more coffee instead of tea.\",\n  \"difficulty\": \"Medium\",\n  \"\
            tags\": [\"Microeconomics\", \"Demand\", \"Applications\"]\n}\n\n# OUTPUT\
            \ FORMAT (JSON ONLY)\n{\n  \"platform\": \"Quizlet\",\n  \"items\": [\n\
            \    {\n      \"front\": \"Question or term\",\n      \"back\": \"Answer\
            \ with explanation\",\n      \"difficulty\": \"Easy|Medium|Hard\",\n \
            \     \"tags\": [\"topic1\", \"topic2\"]\n    }\n  ]\n}\n"
        - id: 9d162977-1055-4758-ad18-e82682fbb885
          role: user
          text: "# INPUT DATA\n**Context Material**: \n{{#1768841210667.text#}}\n\n\
            **User's Request**: \n{{#sys.query#}}\n\n# TASK\nCreate Quizlet flashcards\
            \ based on the user's chat request. Extract the topic, quantity, and any\
            \ special requirements from their message.\n"
        selected: false
        title: LLM Quizlet
        type: llm
        vision:
          enabled: false
      height: 87
      id: '17686688502530'
      position:
        x: 1127.3890967223904
        y: 154.24013193541452
      positionAbsolute:
        x: 1127.3890967223904
        y: 154.24013193541452
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '1768841210667'
          - text
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: cf3aa79e-81dd-4401-a88b-da8ee75c0c27f
          role: system
          text: "# ROLE & PERSONA\nYou are a Gamification Expert specializing in Wayground\
            \ interactive challenges.\nYour goal: Create engaging game-level questions\
            \ with progressive difficulty.\n\n# USER INPUT FROM CHAT\nThe user will\
            \ provide their requirements through chat. Extract:\n- Topic/subject area\n\
            - Number of challenges (default to 10 if not specified)\n- Any special\
            \ requirements from their message\n\n# WAYGROUND-SPECIFIC REQUIREMENTS\n\
            1. **Game Level Design**:\n   - Questions arranged in ascending difficulty\
            \ (game progression)\n   - Each question is a \"challenge\" to overcome\n\
            \   - Point system rewards difficulty: Easy=1000, Medium=1500, Hard=2000\n\
            \n2. **Challenge Structure**:\n   - 4 options per question\n   - Make\
            \ it feel like a game, not just a test\n   - Include hints that don't\
            \ give away the answer\n\n3. **Progressive Difficulty**:\n   - Start with\
            \ warm-up questions (Easy)\n   - Build to challenging problems (Medium/Hard)\n\
            \   - End with a \"boss battle\" question\n\n# FORM SETTINGS\n- Difficulty\
            \ level: {{#1768148176291.difficulty_level#}}\n- Content strategy: {{#1768148176291.content_strategy#}}\n\
            - Output language: {{#1768148176291.output_language#}}\n\n# OUTPUT FORMAT\
            \ (JSON ONLY)\n{\n  \"platform\": \"Wayground\",\n  \"items\": [\n   \
            \ {\n      \"type\": \"Quiz\",\n      \"difficulty\": \"Easy|Medium|Hard\"\
            ,\n      \"points\": 1000|1500|2000,\n      \"question\": \"...\",\n \
            \     \"options\": [\"...\", \"...\", \"...\", \"...\"],\n      \"correct_answer\"\
            : \"...\",\n      \"hint\": \"...\",\n      \"explanation\": \"...\"\n\
            \    }\n  ]\n}\n"
        - id: 9d162977-1055-4758-ad18-e82682fbb886
          role: user
          text: "# INPUT DATA\n**Context Material**: \n{{#1768841210667.text#}}\n\n\
            **User's Request**: \n{{#sys.query#}}\n\n# TASK\nCreate Wayground challenges\
            \ based on the user's chat request. Extract the topic, quantity, and any\
            \ special requirements from their message.\n"
        selected: false
        title: LLM Wayground
        type: llm
        vision:
          enabled: false
      height: 87
      id: '17686688518030'
      position:
        x: 1444.6782522300884
        y: 757.5610777964023
      positionAbsolute:
        x: 1444.6782522300884
        y: 757.5610777964023
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '1768841210667'
          - text
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 8ff44d34-a8e2-4315-80d4-b200dbc0fd64
          role: system
          text: "# ROLE & PERSONA\nYou are a Senior Exam Assessment Expert at National\
            \ Economics University (NEU).\nYour goal: Create rigorous, exam-grade\
            \ questions for formal LMS/Moodle assessments.\n\n# USER INPUT FROM CHAT\n\
            The user will provide their requirements through chat. Extract:\n- Topic/subject\
            \ area\n- Number of questions (default to 10 if not specified)\n- Bloom's\
            \ taxonomy preferences (if mentioned)\n- Any special requirements from\
            \ their message\n\n# NEU LMS ACADEMIC REQUIREMENTS\n1. **Professional\
            \ Standards**:\n   - Formal academic language\n   - Strict adherence to\
            \ source material (no external knowledge)\n   - Bloom's Taxonomy alignment\n\
            \n2. **Question Structure**:\n   - Clear, unambiguous question stems\n\
            \   - Exactly 4 options\n   - Plausible distractors (common misconceptions)\n\
            \   - Detailed feedback for each answer\n\n3. **Difficulty Distribution**:\n\
            \   - 30% Recall (Remember): Definitions, facts\n   - 40% Understand:\
            \ Explanations, classifications\n   - 30% Apply/Analyze: Problem-solving,\
            \ case analysis\n\n# FORM SETTINGS\n- Difficulty level: {{#1768148176291.difficulty_level#}}\n\
            - Content strategy: {{#1768148176291.content_strategy#}}\n- Output language:\
            \ {{#1768148176291.output_language#}}\n- Include explanations: {{#1768148176291.include_explanations#}}\n\
            \n# OUTPUT FORMAT (JSON ONLY)\n{\n  \"platform\": \"NEU_LMS\",\n  \"items\"\
            : [\n    {\n      \"question_name\": \"Unique identifier\",\n      \"\
            question_text\": \"...\",\n      \"bloom_level\": \"Remember|Understand|Apply|Analyze|Evaluate\"\
            ,\n      \"answers\": [\n        {\"text\": \"...\", \"fraction\": 100,\
            \ \"feedback\": \"...\"},\n        {\"text\": \"...\", \"fraction\": 0,\
            \ \"feedback\": \"...\"},\n        {\"text\": \"...\", \"fraction\": 0,\
            \ \"feedback\": \"...\"},\n        {\"text\": \"...\", \"fraction\": 0,\
            \ \"feedback\": \"...\"}\n      ]\n    }\n  ]\n}\n"
        - id: c9aa0cd0-090e-4715-b3d9-7df343047a4e
          role: user
          text: "# INPUT DATA\n**Context Material**: \n{{#1768841210667.text#}}\n\n\
            **User's Request**: \n{{#sys.query#}}\n\n# TASK\nGenerate academic-standard\
            \ MCQs for NEU LMS based on the user's chat request. Extract the topic,\
            \ quantity, and any special requirements from their message.\n"
        selected: false
        title: LLM NEU LMS
        type: llm
        vision:
          enabled: false
      height: 87
      id: '17686688529110'
      position:
        x: 1434.7750107535005
        y: 594.1842486769784
      positionAbsolute:
        x: 1434.7750107535005
        y: 594.1842486769784
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#llm.text#}}'
        selected: false
        title: Answer Kahoot
        type: answer
        variables: []
      height: 101
      id: answer
      position:
        x: 1310.5418916158014
        y: -138.6240975883959
      positionAbsolute:
        x: 1310.5418916158014
        y: -138.6240975883959
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#17686688502530.text#}}'
        selected: false
        title: Answer Quizlet
        type: answer
        variables: []
      height: 101
      id: '17686700462850'
      position:
        x: 1690.5418916158014
        y: 148.6240975883959
      positionAbsolute:
        x: 1690.5418916158014
        y: 148.6240975883959
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#17686688529110.text#}}'
        selected: false
        title: Answer NEU LMS
        type: answer
        variables: []
      height: 101
      id: '17686700474170'
      position:
        x: 1990.5418916158014
        y: 588.9404396610656
      positionAbsolute:
        x: 1990.5418916158014
        y: 588.9404396610656
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#17686688518030.text#}}'
        selected: false
        title: Answer Wayground
        type: answer
        variables: []
      height: 101
      id: '17686700481850'
      position:
        x: 1955.5749324374024
        y: 751.5885922646523
      positionAbsolute:
        x: 1955.5749324374024
        y: 751.5885922646523
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 421.1975773769402
      y: 140.5947997698869
      zoom: 0.4245866492545019
  rag_pipeline_variables: []
